/*
* Full Screen mode and full sceen trigger icons
*/

#fullscreenpadding {
    padding-left:20px;
    float: right;
}

#region-main div#fullscreen.fullscreen {
   height: 20px;
   width: 20px;
   float: right;
   background-size: 20px 20px;
   position: relative;
   top: 5px;
   z-index: 10;
}

@media (max-width: 768px) {
    .fullscreen {
        display: none;
    }
}

@media (min-width: 769px) {
    .fullscreenmode.row-fluid .span4 {
        width: 50%;
    }
    html .fullscreenmode, body .fullscreenmode {
        height:inherit;
    }
    .fullscreenmode #page {
        margin-bottom:60px;
    }
    .fullscreenmode .pull-right[class*="span"], .fullscreenmode .row-fluid .pull-right[class*="span"] {
        float:none;
        clear:both;
    }
    .fullscreenmode .push {
        display:none;
    }
    .fullscreenmode #region-main {
      margin-bottom: 20px;
    }
    .fullscreenmode .row-fluid .span9, .fullscreenmode.row-fluid .span8 {
        width:100%;
    }
    .fullscreenmode .container-fluid {
        width: 97.5%;
    }

    .fullscreenmode .row-fluid .span8 {
        width: 100%;
    }
    .fullscreenmode .empty-region-side-post.used-region-side-pre #region-main.span8,
    .fullscreenmode .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
        display: none;
    }

    .fullscreenmode #region-main.span8.pull-right,
    .fullscreenmode.jsenabled.has_dock.has_dock_left_vertical.docked-region-side-post #region-main.span8.pull-right,
    .fullscreenmode.empty-region-side-post.used-region-side-pre #region-main.span8,
    .fullscreenmode.jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
        width: 100%;
    }

    .fullscreenmode #block-region-side-post,
    .fullscreenmode #block-region-side-pre {
        display: none;
    }
    .fullscreenmode .container-fluid {
        max-width: 100%;
    }
}

@media (min-width: 2000px) {
    .fullscreenmode .container-fluid {
        width: 98%;
    }
}

@media (max-width: 1597px) {
    .fullscreenmode .container-fluid {
        width: 97%;
    }
}

@media (max-width: 1333px) {
    .fullscreenmode .container-fluid {
        width: 96%;
    }
}

@media (min-width: 1200px) {
    #page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion {
        padding-right: 0;
        margin-right: 0;
    }

    #page-mod-forum-discuss .discussioncontrols .discussioncontrol select {
        margin-bottom: 0;
    }

    #page-mod-forum-discuss .discussioncontrols .discussioncontrol {
        display: inline-block;
        float: none;
        width: auto;
        margin: 0 3px .5em;
    }

    #page-mod-forum-discuss .discussioncontrols {
        text-align: right;
    }
}

@media (max-width: 1005px) {
    .fullscreenmode .container-fluid {
        width: 95%;
    }
}

@media (max-width: 807px) {
    .fullscreenmode .container-fluid {
        width: 94%;
    }
}

div#fullscreenfloat.fullscreen.restore_fullscreen {
    background: url([[pix:local_fullscreen|fullscreen_collapse]]) no-repeat center center;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 1;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    background-color: #F9FAFC;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.28);
    box-shadow: 0 0 5px rgba(0,0,0,0.28);
}

div#fullscreenfloat:hover,
div#fullscreen:hover {
    cursor: pointer;
}

div#fullscreenfloat.fullscreen {
    z-index: 10000;
    padding:20px 20px;
    background: url([[pix:local_fullscreen|fullscreen]]) no-repeat center center;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 1;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    background-color: #F9FAFC;
    position:fixed;
    right:2%;
    top:70px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.28);
    box-shadow: 0 0 5px rgba(0,0,0,0.28);
}

div#fullscreenfloat.fullscreen:hover,
#region-main div#fullscreen.fullscreen:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,1);
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

#region-main div#fullscreen.fullscreen {
    background: url([[pix:local_fullscreen|fullscreen]]) no-repeat center center;
    background-color: #FEFEFE;
}

#region-main div#fullscreen.restore_fullscreen {
    background: url([[pix:local_fullscreen|fullscreen_collapse]]) no-repeat center center;
    background-color: #FEFEFE;
}

#region-main div#fullscreen {
    display: block;
    padding: 7px 7px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.28);
    box-shadow: 0 0 5px rgba(0,0,0,0.28);
    position: relative;
    top: -8px;
}

@media (max-width: 979px) {
    #region-main div#fullscreen.fullscreen,
    div#fullscreenfloat.fullscreen,
    div#fullscreenfloat.restore_fullscreen,
    div#fullscreenfloat.fullscreen:hover,
    div#fullscreenfloat.restore_fullscreen:hover {
        display: none;
    }
}

.pagelayout-course.fullscreenmode .navbar-inner,
.pagelayout-incourse.fullscreenmode .navbar-inner,
.pagelayout-course.fullscreenmode .container-fluid,
.pagelayout-incourse.fullscreenmode .container-fluid {
    max-width: 100%;
}