
/* #autoplay-image{margin:33px 0px 0px 0px;} */

#autoplay-image .nbs-flexisel-nav-left {
  top: 30.5px !important;
}
#autoplay-image .nbs-flexisel-nav-right {
  top: 30.5px !important;
}

.clnimg{ 
/* margin:50px 0px; */
margin:0px 0px;
float:left;
}
