
.banbox{
width:50%;
padding:5px 45px;
display:block;
color:#FFF;
margin:50px auto;
/*background-image:url([[pix:theme|dig_01]]), url([[pix:theme|dig_02]]);*/
background-position:top left, bottom right;
background-repeat:no-repeat, no-repeat;
font-weight:300;
text-align:center;
}

.ban35{
width:100%;
height:100%;
background-position:center;
background-size:cover !important;
background:rgba(0,0,0,0.6);
}

.ban35bl{
width:80%;
padding:150px 0px;
margin:0px auto;
}

.ban35bltxt{
width:100%;
margin:0px 0px 20px 0px;
text-align:center;
} 

.ban35bltxt h1 {
font-weight:300 !important;
font-size: 60px;
line-height: 52px;
color: #fff;
}

.ban35bltxt h2 {
font-weight:300 !important;
font-size: 30px;
line-height: 52px;
color: #fff;
}


.ban35bltxt h1, .ban35bltxt h2, .ban35bltxt h3, .ban35bltxt h4, .ban35bltxt h5, .ban35bltxt h6, .ban35bltxt p {
color: #fff;
}




