@import "fonts.css";
@import "bootstrap.css";
@import "bootstrap-responsive.css";
@import "jquery.bxslider.css";
@import "reset.css";
/*
Description:
		1 - Including files ("fonts.css", "reset.css" and others)
		2 - Tags styles and General styles    
		3 - header
		4 - .content
		5 - footer
		6 - inner column3 page
		7 - inner login page
		* - @media rules
*/

/* 2 - BEGIN of Tags and General styles ---------------------------------------------------------- */

/********** Changes  ***********************/

.page-context-header {
	display: none;
}

.breadcrumb-nav {
	margin-left: 19px;
}

.breadcrumb-button {
	margin-right: 19px;
}

.courses .coursebox.even {
	background-color: none;
}

#block-region-side-pre .block .header {
	margin-right: 20px;
}

li.type_setting.collapsed.item_with_icon {
	margin-left: -35px;
}

.course-content .current {
	background : none !important;
}

.course-content> li.section.main.clearfix.current {
	background-color : none !important;
}

/*****************/

/**************** For icon picker***********/

.iconpicker {
	background: #fff;
	height: 61px;
	overflow-y: scroll;
	border: 1px solid #AAA;
	cursor: pointer;
	margin-right: 15px;
}

.iconpicker [class^="fa-"], 
.iconpicker [class*=" fa-"] {
	background: #fff;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: inline-block;
	color: #494949;
	border: 1px solid #e1e1e1;
	margin-left: -1px;
	margin-top: -1px;
	transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out; /* Firefox 4 */
	-webkit-transition: all 0.1s ease-out; /* Safari and Chrome */
	-o-transition: all 0.1s ease-out; /* Opera */
}

.iconpicker [class^="fa-"]:hover, 
.iconpicker [class*=" fa-"]:hover {
	background-color: #eeeded;
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}

.iconpicker [class^="fa-"].active, 
.iconpicker [class*=" fa-"].active {
	background-color: #eeeded;
}

/*****************/

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	opacity: 0.7;
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:active {
	opacity: 0.65;
	outline: none;
	color: inherit;
	text-decoration: none;
}

a:focus, a:visited {
	outline: none;
	color: inherit;
	text-decoration: none;
}

button:hover, 
input:hover, 
select:hover {
	opacity: 0.8;
}

strong {
	font-weight: 800;
}

img {
	max-width: 100%;
	max-height: 100%;
}

h1 {
	font-size: 34px;
	line-height: 41px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

h2 {
	font-size: 26px;
	line-height: 34px;
	font-weight: 400;
	text-transform: uppercase;
}

h5 {
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.clear:before, .clear:after {
	content: "";
	display: block;
	clear: both;
}

.hide, .hidden {
	display: none;
}

.content-wrapper {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.btn-1 {
	background: #e84c3d;
	border: 1px solid #e84c3d;
	border-radius: 0;
	box-sizing: border-box;
	margin: 18px 0 0;
	padding: 0 24px;
	height: auto;
	width: auto;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 44px;
	font-weight: 600;
	display: inline-block;
}

.btn-1:hover {
	color: #FFFFFF;
}

.btn-3 {
	background: #0590c6;
	border: 1px solid #177296;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 0 0 0 0;
	padding: 0 9px;
	height: auto;
	width: auto;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 32px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}

.btn-3:hover {
	color: #FFFFFF;
}

.btn-4 {
	background: #8e8e8e;
	border: 1px solid #8e8e8e;
	border-radius: 0;
	box-sizing: border-box;
	margin: 0 0 0 0;
	padding: 0 9px;
	height: auto;
	width: auto;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}

.btn-4:hover {
	color: #FFFFFF;
	opacity: .7;
}

/* 2 - END of Tags styles and General styles ---------------------------------------------------------- */

/* 3 - BEGIN of header -------------------------------------------------------------------------------- */

header {
	background: #d6d6d6;
	min-height: 80px;
	position: relative;
}

.header-form {
	background: #000000;
	background: rgba(0,0,0,.4);
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 12px 0 12px;
}

.header-3 .header-form {
	display: none;
}

.header-form form {
	float: right;
}

.header-form form input[type="text"] {
	background: transparent;
	border: 1px solid #939393;
	border-radius: 0;
	box-sizing: border-box;
	margin: 0 10px 0 0;
	padding: 0 6px 0;
	line-height: 29px;
	height: auto;
	width: 218px;
	color: #939393;
	font-size: 13px;
}

.header-form form input[type="submit"], 
.header-form form button {
	background: #e84c3d;
	border: 1px solid #e84c3d;
	border-radius: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 29px;
	height: auto;
	width: 68px;
	color: #FFFFFF;
	font-size: 13px;
}

.btn-2 {
	background: #e84c3d;
	border: 1px solid #e84c3d;
	border-radius: 0;
	box-sizing: border-box;
	margin: 6px 0 0 65px;
	padding: 0;
	line-height: 29px;
	height: auto;
	width: 70px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-weight: 600;
	float: right;
}

.btn-2:hover {
	color: #FFFFFF;
}

.top-slider img {
	width: 100%;
}

.top-slide-content {
	text-align: center;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 13.1% 0 0;
	color: #FFFFFF;
}

.top-slide-content h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 100;
	text-transform: uppercase;
	color: #FFFFFF;
}

.top-slide-content h1 {
	font-size: 60px;
	line-height: 72px;
	font-weight: 100;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 6px 0 50px;
}

.top-slide-content h3 {
	font-size: 22px;
	line-height: 27px;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 44px 0;
}

.top-slide-content .btn-1 {
	display: block;
	width: 150px;
	margin: 55px auto 0;
}

header .bx-wrapper {
	margin: 0 auto;
}

header .bx-wrapper .bx-pager, 
header .bx-wrapper .bx-controls-auto {
	bottom: 40px;
}

header .bx-wrapper .bx-pager.bx-default-pager a {
	width: 9px;
	height: 9px;
}

.main-menu {
	background: #FFFFFF;
	line-height: 45px;
	padding: 14px 0 9px;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	z-index: 10;
	box-shadow: 0px 0px 20px 0px #d7d7d7;
}

.fixed-header-content-margin {
	margin-top: 68px;
}

.logo {
	float: left;
	font-size: 22px;
	width: 147px;
	height: 42px;
	/*text-indent: -9999px;*/
	display: inline-block;
	background: url(img/logo.png) no-repeat center;
}

.navbar {
	float: right;
	margin: 0;
	overflow: visible;
}

.navbar-inner {
	padding: 0;
	min-width: 20px;
	background: transparent;
	border: none;
	box-shadow: none;
}

.navbar .nav {
	margin: 0;
}

.navbar .nav > li > a {
	font-size: 14px;
	font-weight: 600;
	color: #000000;
	text-transform: uppercase;
	padding: 0 0 0 40px;
}

.navbar .nav > li > a.active {
	color: #e84c3d;
}

.header-2 .main-menu {
	background: transparent;
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	z-index: 4;
}

.header-2 .logo {
	background: url(img/logo-2.png) no-repeat center;
}
.header-2 .navbar .nav > li > a {
	color: #FFFFFF;
	text-shadow: none;
}

.header-2 .navbar .nav > li > a.active {
	color: #e84c3d;
}

.header-2 .fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	z-index: 10;
	box-shadow: 0px 0px 20px 0px #d7d7d7;
	background: rgba(0,0,0,.6);
}

.header-3 .main-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	padding: 8px 0 6px;
}

.header-3 .fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	z-index: 10;
	box-shadow: 0px 0px 20px 0px #d7d7d7;
}

/* 3 - END of header ---------------------------------------------------------- */

/* 4 - BEGIN of .content ---------------------------------------------------------- */

.content {
	background: #FFFFFF;
	min-height: 200px;
}

.av-courses {
	text-align: center;
	background: #FFFFFF;
	padding: 0 0 28px;
	border-bottom: 1px solid #EEE;
}

.header-b {
	display: inline-block;
	position: relative;
	margin: 12px 44px 0;
}

.header-b:before {
	content: "";
	display: block;
	position: absolute;
	width: 32px;
	height: 5px;
	left: -25px;
	top: -10px;
	background: url(img/b-h-1.png) no-repeat center;
}

.header-b:after {
	content: "";
	display: block;
	position: absolute;
	width: 32px;
	height: 5px;
	right: -25px;
	bottom: -13px;
	background: url(img/b-h-2.png) no-repeat center;
}

.header-b-2 {
	display: inline-block;
	position: relative;
	margin: 0 44px;
}

.header-b-2:before {
	content: "";
	display: block;
	position: absolute;
	width: 32px;
	height: 5px;
	left: -55px;
	top: -10px;
	background: url(img/b-h-3.png) no-repeat center;
}

.header-b-2:after {
	content: "";
	display: block;
	position: absolute;
	width: 32px;
	height: 5px;
	right: -55px;
	bottom: -13px;
	background: url(img/b-h-4.png) no-repeat center;
}

.av-courses .header-top {
	background: url(img/b-1.jpg) no-repeat center top;
	background-size: cover;
	padding: 47px 0 49px;
}

.header-3 .av-courses .header-top {
	background: #FFFFFF;
}

.av-courses h2 {
	color: #e84c3d;
}

.av-courses .h-large {
	color: #000000;
}

.header-3 .av-courses h3 {
	font-size: 20px;
	line-height: 24px;
	color: #878787;
	margin: 17px 44px 7px;
}

.av-courses-item {
	display: inline-block;
	float: left;
	width: 25%;
	box-sizing: border-box;
}

.av-courses-slider li {
	position: relative;
}

.av-courses-slider li:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	opacity: 0;
	transition: opacity 0.4s;
}

.av-courses-slider li:hover:after {
	opacity: 1;
}

.av-courses-slider img {
	width: 100%;
	display: block;
}

.av-course-item-cont {
	position: absolute;
	z-index: 3;
	background: #e84c3d url(img/i-book.png) no-repeat 96.6% center;
	font-size: 12px;
	line-height: 24px;
	color: #FFFFFF;
	font-weight: 400;
	bottom: 10px;
	left: 10px;
	right: 10px;
	text-align: left;
	text-transform: uppercase;
	padding: 22px 13px 15px;
	opacity: 0;
	transition: opacity 0.5s;
}

.av-courses-slider li:hover .av-course-item-cont {
	opacity: 1;
}

.av-course-item-cont h2 a, 
.av-course-item-cont h2 {
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	font-weight: 600;
	display: block;
}

.av-course-item-cont a:hover {
	text-decoration: underline;
	opacity: 1;
}

.btn-view-all {
	text-transform: uppercase;
	color: #868686;
	font-size: 14px;
	line-height: 17px;
	margin: 43px auto 10px;
	display: inline-block;
}

/* ******* ABOUT ********* */

.about {
	text-align: center;
	background: #FFFFFF;
	padding: 80px 0 0;
}

.h-large {
	font-size: 52px;
	line-height: 63px;
	color: #000000;
	text-transform: uppercase;
}

.h-large span {
	color: #ffc907;
}

.about h3 {
	font-size: 20px;
	line-height: 24px;
	color: #878787;
	margin: 40px 44px 0;
}

.about-items {
	padding: 46px 0 60px;
	clear: both;
	margin: 30px -15px 0;
	text-align: center;
	display: inline-block;
}

.about-items:after {
	content: "";
	display: block;
	clear: both;
}

.about-item {
	display: inline-block;
	float: left;
	margin: 0 14px 15px;
	padding: 0 0 30px;
	width: 268px;
	height: 320px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	border: 1px solid #eeeeee;
	transition: color 0.5s, background 0.5s;
}

.about-item .about-item-img-wr {
	border: 1px solid #eeeeee;
	border-radius: 50%;
	overflow: hidden;
	padding: 2px;
	display: inline-block;
	width: 82px;
	height: 82px;
	margin: 44px 0 39px;
}

.about-item .about-item-img {
	background: #FFFFFF;
	color: #000000;
	border-radius: 50%;
	overflow: hidden;
	transition: color 0.5s, background 0.5s;
	width: 100%;
	height: 100%;
}

.about-item:hover .about-item-img {
	background: #FFCA08;
	color: #FFFFFF;
}

.about-item h5 {
	height: 23px;
	overflow: hidden;
}

.about-item a {
	color: #000000;
}

.about-item-img a {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.about-item-img a {
	opacity: 1;
}

.about-item p {
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #868686;
	padding: 17px 13px 0;
	box-sizing: border-box;
	height: 90px;
	overflow: hidden;
}

.about-item .fa {
	font-size: 43px;
	margin: 20px 0 0;
}

.about-item:hover .fa {
	color: #FFFFFF;
	opacity: 1;
}

.about-item form {
	padding: 17px 13px 0;
	overflow: hidden;
	height: 90px;
	box-sizing: border-box;
}

.about-item form:after {
	content: "";
	display: block;
	clear: both;
}

.about-item input[type="text"] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #939393;
	border-radius: 0;
	outline: none;
	padding: 4px 10px 4px;
	height: auto;
	margin: 0 0 11px;
}

.about-item input[type="submit"] {
	background: #000000;
	color: #FFFFFF;
	border-radius: 0;
	outline: none;
	width: 50px;
	height: 30px;
	display: inline-block;
	border: none;
	float: left;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
}

.about-item form a {
	font-size: 15px;
	line-height: 30px;
	font-weight: 600;
	color: #000000;
	float: right;
}

.about-tabs {
	text-align: left;
	padding: 35px 0 33px;
}

.about-tabs span {
	margin: 0 10px 0;
}

.tabs-nav {
	padding: 0 0 24px;
}

.tabs-nav a {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #000000;
}

.tabs-nav a.active {
	color: #e84c3d;
}

.about-tabs p {
	font-size: 14px;
	line-height: 22px;
	color: #888888;
	padding: 0 0 22px;
}

.tabs-content-item {
	padding: 0 0 40px;
	min-height: 237px;
}

.testimonials {
	text-align: center;
	background: #f0f0f0 url(img/b-2.jpg) no-repeat center bottom;
	padding: 46px 0 91px;
}

.testimonials .header-b-2 {
	margin: 0 0 54px;
}

.feedback-item-text {
	background: #FFFFFF;
	padding: 33px 45px 25px;
	box-sizing: border-box;
	height: 135px;
	margin: 0 0 34px;
	position: relative;
}

.feedback-item-text:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -32px;
	left: 32px;
	border: 20px solid transparent;
	border-top: 20px solid #FFFFFF;
}

.feedback-item-text p {
	font-size: 14px;
	line-height: 22px;
	color: #878787;
}

.feedback-item-user {
	text-align: left;
}

.feedback-item-user > img {
	float: left;
	margin: 0 18px 0 18px;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	overflow: hidden;
}

.feedback-item-user h4 {
	font-size: 16px;
	line-height: 23px;
	color: #000000;
	padding: 15px 0 0;
	white-space: nowrap;
}

.feedback-item-user h6 {
	font-size: 12px;
	line-height: 22px;
	color: #868686;
	white-space: nowrap;
}

.rate {
	float: right;
	margin: 39px 5px 0 0;
}

.rate img {
	display: inline-block;
	margin: 0 0 0 2px;
	float: left;
}

.testimonials .bx-wrapper .bx-pager, 
.testimonials .bx-wrapper .bx-controls-auto {
	bottom: -121px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #8a8a7b;
	text-indent: -9999px;
	display: block;
	width: 8px;
	height: 8px;
	margin: 0 4px;
	outline: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #e84c3d;
}

/* ******* .categories ********* */

.categories {
	text-align: center;
	background: #FFFFFF;
	padding: 104px 0 0;
}

.categories:after {
	content: "";
	display: block;
	clear: both;
}

.categories .header-b-2 {
	font-size: 20px;
	margin: 40px 44px 0;
}

.categories-items {
	padding: 86px 0 0;
}

.categories-item {
	position: relative;
	float: left;
	text-align: left;
	width: 25%;
	overflow: hidden;
}

.categories-item img {
	width: 100%;
	display: block;
}

.categories-item:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	opacity: 0;
	transition: opacity 0.4s;
}

.categories-item:hover:after {
	opacity: 1;
}

.categories-item-cont {
	text-align: left;
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
	text-transform: uppercase;
	background: #e84c3d url(img/i-cat.png) no-repeat 96.5% center;
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	padding: 18px 14px 17px;
	z-index: 3;
	opacity: 0;
	transition: opacity 0.4s;
}

.categories-item:hover .categories-item-cont {
	opacity: 1;
}

.categories-item-cont a {
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	color: #FFFFFF;
}

/* ******* .upcoming-courses ********* */

.upcoming-courses {
	background: #FFFFFF url(img/b-3.jpg) no-repeat center top;
	text-align: center;
	padding: 117px 0 92px;
}

.upcoming-courses .header-b-2 {
	margin: 0 0 83px;
	font-size: 34px;
}

.upcoming-courses-item {
	margin: 0 auto;
	max-width: 890px;
	text-align: left;
}

.upcoming-courses img {
	float: left;
	margin: 0 50px 30px 0;
}

.upcoming-courses p {
	font-size: 14px;
	line-height: 22px;
	padding: 0 0 22px;
	color: #868686;
}

.upcoming-courses .btn-1 {
	margin: 26px 0 0;
}

/* ******* .partners ********* */

.partners {
	text-align: center;
	background: #e84c3d url(img/b-4.jpg) no-repeat center top;
	height: 100px;
	box-sizing: border-box;
	padding: 29px 0 0;
	margin: 20px 0 0;
}

.partners img {
	vertical-align: middle;
	margin: 0 47px 0;
}

/* ******* .contact ********* */

.contact {
	text-align: center;
	background: #FFFFFF;
	padding: 97px 0 0;
}

.contact .header-b-2 {
	font-size: 20px;
	margin: 40px 44px 76px;
}

.map-wr iframe {
	width: 100%;
}

.contact-items {
	text-align: center;
}

.contact-item {
	display: inline-block;
	width: 190px;
	height: 120px;
	margin: 38px 14px 0;
	padding: 48px 0 0;
	overflow: hidden;
	font-size: 16px;
	line-height: 25px;
	color: #000000;
	border-top: 1px solid #EFEFEF;
}

.contact-item i {
	height: 50px;
	overflow: hidden;
	display: block;
	margin: 0 0 8px;
}

/* ******* .stay-connected ********* */

.stay-connected {
	text-align: center;
	background: #FFFFFF;
	padding: 60px 0 0;
}

.stay-connected .header-b-2 {
	font-size: 34px;
	margin: 0 25px;
}

.social-links {
	padding: 55px 0 0;
}

.stay-connected a {
	display: inline-block;
	margin: 0 4px 10px;
}

.stay-connected i {
	color: #FFFFFF;
	background: #e84c3d;
	border-radius: 50%;
	display: inline-block;
	width: 45px;
	height: 45px;
	font-size: 25px;
	padding: 10px 0 0;
	box-sizing: border-box;
	overflow: hidden;
}

/* 4 - END of .content ---------------------------------------------------------- */

/* 5 - BEGIN of footer ---------------------------------------------------------- */

footer {
	min-height: 30px;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, .2);
	padding: 45px 0 28px;
	font-size: 14px;
}

.admin-option footer {
	margin: 0;
}

.btn-to-top {
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	display: inline-block;
	position: fixed;
	z-index: 5;
	right: 20px;
	bottom: 30px;
	background: url(img/i-to-top-1.png) no-repeat center;
	transition: background 0.5s;
	opacity: 0.7;
	display: none;
}

.btn-to-top:hover {
	background: url(img/i-to-top-2.png) no-repeat center;
	opacity: 1;
}

/* 5 - END of footer ------------------------------------------------------------------ */

/* 6 - BEGIN of column3 page ---------------------------------------------------------- */

.usermenu {
	float: right;
	margin: 12px 0 11px;
	width: 160px;
	box-sizing: border-box;
	position: relative;
}

.usermenu ul {
	list-style: none;
}

.usermenu a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 36px;
	font-weight: 400;
	display: block;
}

.usermenu span {
	display: inline-block;
}

.usermenu img {
	vertical-align: middle;
	margin: 0 4px 2px 0;
}

.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	/*background: #eeeeee;*/
	box-shadow: none;
	border: none;
}

.usermenu .menubar a {
	background: #e84c3d;
	line-height: 32px;
	height: 32px;
	font-weight: 600;
	padding: 0 5px 0;
	position: relative;
}

.admin-option .usermenu .menubar a {
	background: #0691c6;
}

.usermenu .menubar a:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	right: 10px;
	top: 12px;
	border: 5px solid transparent;
	border-top: 8px solid #FFFFFF;
}

.usermenu .menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.8);
	opacity: 0;
	transition: opacity .4s;
	display: none;
}

.usermenu:hover .menu {
	opacity: 1;
	display: block;
}

.usermenu .menu li {
	border-top: 1px solid #FFFFFF;
}

.usermenu .menu a {
	font-size: 11px;
	line-height: 31px;
	padding: 0 7px 0;
	font-weight: 600;
}

#page-header {
	padding-top: 55px;
	min-height: 63px;
}

#page-header .navbar {
	padding: 8px 0 0;
}

header.navbar.navbar-fixed-top {
	min-height: 55px;
	position: absolute;
}

#page-header .main-menu {
	padding: 0;
}

#page-navbar {
	border-bottom: 13px solid #e84c3d;
}

.admin-option #page-navbar {
	border-bottom: 13px solid #0691c6;
}

.logo-inner {
	float: left;
	padding: 11px 31px 5px 0;
	border-right: 1px solid #EEE;
}

.admin-option .logo-inner {
	border-right: none;
}

#block-region-side-pre {
	border-right: 1px solid #e84c3d;
}

#block-region-side-post {
	border-left: 1px solid #e84c3d;
}

#page-content {
	margin: 0 auto;
}

#page.container-fluid {
	padding: 0;
}

.coursebox {
	padding: 0 0 55px;
	margin-bottom: 0;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.coursebox .info {
	padding: 0 0 21px;
}

.coursebox>.info>h3.coursename {
	margin: 0;
}

.coursebox>.info>.coursename a {
	display: block;
	padding-left: 0;
	background-image: none;
	background-position: 0;
	background-repeat: no-repeat;
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 0;
	font-weight: 600;
	color: #e84c3d;
	text-transform: uppercase;
}

.coursebox h4 {
	display: block;
	padding-left: 0;
	background-image: transparent;
	background-position: 0;
	background-repeat: no-repeat;
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 0;
	font-weight: 600;
	color: #060606;
	text-transform: none;
}

.coursebox .moreinfo {
	float: none;
	padding: 0;
}

.coursebox .content {
	display: block;
	padding-left: 0;
	background-image: transparent;
	background-position: 0;
	background-repeat: no-repeat;
	font-size: 13px;
	line-height: 20px;
	padding: 0 0 0;
	font-weight: 600;
	color: #060606;
	text-transform: none;
	min-height: 0;
	background: transparent;
}

.coursebox p {
	display: block;
	font-size: 13px;
	line-height: 20px;
	padding: 0 0 0;
	font-weight: 600;
	color: #060606;
	text-transform: none;
}

.coursebox .content .summary, 
.coursebox .content .coursecat {
	float: none;
	width: auto;
}

.block {
	min-height: 20px;
	padding: 0 0 0;
	margin: 0 0 0;
	background-color: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.block .header {
	padding: 0 0 15px;
}

.block .header .block_action {
	float: right;
	padding: 2px 0 0;
	position: relative;
	z-index: 3;
}

.block .header .block_action img {
	margin: 0 0 0 2px;
}

.block .header h2 {
	display: block;
	padding: 0 0 0;
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #e84c3d;
	text-shadow: none;
	text-transform: uppercase;
	word-wrap: break-word;
	position: relative;
}

.block .header h2 span {
	color: #e84c3d;
}

.admin-option .block .header h2 span {
	color: #0691c6;
}

.block .header h2:after {
	content: "";
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	top: 4px;
}

.admin-option .block .header h2:after {
	content: none;
}

.block .content {
	padding: 0 0 10px;
	word-wrap: break-word;
	min-height: 0;
	background: transparent;
}

.block .block_tree {
	margin: 0 0 0;
	padding: 0 0 0;
}

.block .block_tree li, 
.unlist, .unlist li, 
.inline-list, 
.inline-list li, 
.block .list li, 
.section li.activity, 
.section li.movehere, 
.tabtree li {
	padding: 0 0 10px;
	margin: 0;
	list-style: none;
}

.block .block_tree li:last-child {
	padding: 0;
}

.block .list {
	padding: 5px 0 15px;
}

.block .block_tree li ul {
	padding-left: 11px;
	padding-top: 11px;
	margin: 0;
}

.block .block_tree .tree_item {
	padding: 0 0 0 25px;
	margin: 0 0 0;
	text-align: left;
	position: relative;
}

.block .block_tree .tree_item img {
	position: absolute;
	left: 0;
	top: 2px;
}

.block .block_tree li.item_with_icon > p img {
	vertical-align: middle;
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	margin: 6px;
}

.block ul li a {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
}

#block-region-side-post {
	margin: 0;
	float: right;
	padding: 41px 0 0;
}

.adminsearchform {
	padding: 6px 0 0;
	line-height: 28px;
}

.adminsearchform input[type="text"] {
	margin: 0;
	padding: 0 10px 0;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	outline: none;
	border: 1px solid #939393;
	background: transparent;
	line-height: 28px;
	height: 28px;
}

.adminsearchform input[type="submit"] {
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: #FFFFFF;
	margin: 0;
	padding: 0px 7px;
	box-shadow: none;
	border-radius: 0;
	outline: none;
	border: 1px solid #000000;
	background: #000000;
	float: right;
}

.admin-option .adminsearchform input[type="text"] {
	border-radius: 4px;
	background: #FFFFFF;
}

.admin-option .adminsearchform input[type="submit"] {
	border: 1px solid #0590c6;
	background: #0590c6;
	width: auto;
	float: none;
	margin: 10px 0 0;
	padding: 0 8px 0;
}

.adminsearchform a {
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	color: #e84c3d;
	margin: 0;
	padding: 0 0 0;
	display: block;
	clear: both;
}

#block-region-side-post .block {
	padding: 0 0 50px;
}

.newsbox {
	clear: both;
	padding: 13px 0 14px;
}

.newsbox img {
	float: left;
	width: 70px;
	margin: 0 14px 0 0;
}

.newsbox a {
	font-size: 13px;
	font-weight: 600;
	line-height: 10px;
	color: #e84c3d;
	margin: 0;
	padding: 0 0 8px;
	display: block;
}

.newsbox p {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #000000;
	margin: 0;
	padding: 0 0 0;
}

.box-link {
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	color: #e84c3d;
	margin: 0;
	padding: 10px 0 0;
	text-transform: uppercase;
	text-decoration: underline;
	display: inline-block;
}

.recent-activity p {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #000000;
	margin: 0;
	padding: 0 0 0;
}

/* 6 - END of column3 page ---------------------------------------------------------- */

/* 7 - BEGIN of login page ---------------------------------------------------------- */

.login-page #page-header {
	padding-top: 0;
	min-height: 62px;
}

.login-page #page-navbar {
	border: none;
}

.login-information {
	font-size: 18px;
	font-weight: 400;
	line-height: 63px;
	color: #FFFFFF;
	margin: 0;
	padding: 0 0 0;
	background: #e84c3d;
}

.login-information a {
	color: #FFFFFF;
}

/****************** changes ***********************/

.back-col-op { 
	vertical-align:top; 
	margin-top:5px;
}

.back-col-img { 
	vertical-align:top;
}

/* changes */

.clearer {
	display: none;
}

.loginbox {
	margin: 15px;
	padding: 73px 0 39px;
	overflow: visible;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	color: #939393;
}

.loginpanel {
	max-width: 388px;
	margin: 0 auto;
}

.loginbox h2 {
	font-size: 52px;
	font-weight: 600;
	line-height: 52px;
	color: #000000;
	margin: 0;
	padding: 0 0 25px;
	text-align: center;
}

.loginbox h2 span {
	color: #e84c3d;
}

.loginbox .subcontent {
	padding: 0 10px 0;
	margin: 0 5px 0;
	text-align: center;
}

.loginbox .subcontent:after {
	content: "";
	display: block;
	clear: both;
}

.loginbox .loginform {
	margin-top: 16px;
	text-align: left;
}

.loginbox .loginform .form-label {
	float: left;
	width: auto;
	text-align: right;
	white-space: nowrap;
}

.loginbox label {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	color: #939393;
	margin: 0;
	padding: 0 0 0;
}

.loginbox .loginform .form-input {
	float: right;
	width: auto;
}

.loginbox .loginform .form-input input {
	width: 272px;
	border: 1px solid #939393;
	background: transparent;
	outline: none;
	border-radius: 0;
	padding: 0 10px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	height: 36px;
	display: block;
	box-sizing: border-box;
	margin: 0 0 24px;
}

.loginbox input[type="submit"] {
	border: none;
	background: #000000;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 68px;
	outline: none;
	text-align: center;
	border-radius: 0;
	padding: 0 0 0;
	margin: 0 0 0 86px;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	height: 36px;
	float: left;
}

.rememberpass {
	float: right;
}

.rememberpass input {
	float: left;
	margin: 13px 16px 0 0;
}

.rememberpass label {
	float: right;
}

.loginbox .loginpanel .desc {
	padding: 0;
	margin: 9px 0 -3px;
	clear: both;
	line-height: 20px;
	width: 272px;
	float: right;
	text-align: left;
}

.forgetpass {
	clear: both;
	float: right;
	width: 272px;
	text-align: left;
	padding: 6px 0 0;
}

.loginbox a {
	padding: 0 0 0;
	margin: 0 0 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #e84c3d;
	text-decoration: underline;
}

.guestform input[type="submit"] {
	border: none;
	background: #e84c3d;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 158px;
	outline: none;
	text-align: center;
	border-radius: 0;
	padding: 0 0 0;
	margin: 31px 0 0 86px;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	height: 36px;
	float: left;
}

/* 7 - END of login page ------------------------------------------------------------------- */

/* 8 - BEGIN of admin-option page ---------------------------------------------------------- */

#region-main.adminsettings-block {
	width: 74.46808510638297%;
	margin: 0;
	padding: 0;
	border: none;
}

.settingsform h2 {
	color: #e74c3c;
	font-size: 22px;
	line-height: 34px;
	font-weight: 900;
	text-transform: uppercase;
}

.settingsform h3 {
	color: #333332;
	font-size: 15px;
	line-height: 25px;
	font-weight: 800;
	text-transform: none;
	padding: 0 0 14px;
}

.settingsform h3:not(:first-of-type) {
	font-size: 13px;
	padding: 0 0;
}

.settingsform h4 {
	display: inline-block;
	float: left;
	color: #333332;
	font-size: 12px;
	line-height: 25px;
	font-weight: 600;
	text-transform: none;
	padding: 0 20px 0 0;
}

.form-label .form-shortname, 
.settingsform .form-shortname {
	display: block;
	color: #444444;
	font-size: 9px;
	line-height: 33px;
	font-weight: 600;
}

.settingsform .form-item, 
.mform .fitem {
	margin: 0;
}

.form-submit.btn-3 {
	float: right;
}

.form-buttons {
	text-align: center;
	margin: 0 0 0;
	padding: 0;
	background: #FFFFFF;
	position: relative;
	z-index: 2;
}

fieldset + .form-buttons, 
fieldset .form-buttons {
	padding: 33px 0 33px;
}

fieldset + .form-buttons .form-submit.btn-3, 
fieldset .form-buttons .form-submit.btn-3 {
	float: none;
	max-width: 80%;
	width: 326px;
}

.upload-img-text {
	display: inline-block;
	float: left;
}

.input-color-wr {
	display: inline-block;
	float: left;
	width: 42px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	border: 1px solid #8E8E8E;
	border-right: none;
	box-sizing: border-box;
}

.form-item .upload-img-text input[type="text"] {
	margin: 0;
	border: 1px solid #dddddd;
	background: #f2f2f2;
	border-radius: 1px;
	float: left;
	padding: 0 10px;
	line-height: 20px;
	height: 26px;
	width: 260px;
	max-width: 60%;
	display: inline-block;
}

.upload-img-text label {
	cursor: pointer;
}

.upload-img-text input[type="file"] {
	display: none;
}

.settingsform fieldset {
	clear: both;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin: 23px 0 60px;
	padding: 16px 0 0;
	box-sizing: border-box;
}

.settingsform .form-item {
	border-bottom: 1px solid #e6e6e6;
	padding: 15px 20px 16px 24px;
}

.settingsform .form-item:last-child {
	border-bottom: none;
}

.settingsform input[type="radio"] {
	display: none;
}

.settingsform input[type="radio"] + label {
	display: inline-block;
	padding: 0 20px 0 0;
	color: #333332;
	font-size: 12px;
	line-height: 25px;
	font-weight: 600;
}

.settingsform input[type="radio"] + label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 22px;
	margin: 0 6px 0 0;
	float: left;
	background: url(img/admin-option/i-ch-unch.png) no-repeat center;
}

.settingsform input[type="radio"] + label:hover:before {
	background: url(img/admin-option/i-ch-h.png) no-repeat center;
}

.settingsform input[type="radio"]:checked + label:before {
	background: url(img/admin-option/i-ch-ch.png) no-repeat center;
}

.settingsform .select-color {
	display: inline-block;
}

.settingsform input[type="color"] {
	padding: 0;
	border: none;
	background: transparent;
	box-shadow: none;
	width: 50px;
	height: 40px;
	line-height: 34px;
	float: none;
	margin: -7px -2px 0 -5px;
	display: inline-block;
	cursor: pointer;
	color: transparent;
}

.settingsform .select-color .btn-4 {
	text-transform: none;
	font-size: 10px;
	border-radius: 0;
	line-height: 26px;
	height: 26px;
	margin: 0 30px 0 0;
}

.settingsform .select-color h4 {
	line-height: 34px;
}

.blocks-positions-wr h4 {
	width: 19%;
	min-width: 90px;
	padding: 0;
	line-height: 29px;
}

.blocks-positions-wr .span6 {
	margin: 0;
}

.blocks-positions-wr .span6 > div {
	clear: both;
}

.sel-wr {
	display: inline-block;
	background: #f2f2f2;
	border: 1px solid #dadada;
	height: 24px;
	margin: 0 0 1px;
	line-height: 10px;
	width: 150px;
	overflow: hidden;
	position: relative;
}

.sel-wr:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 22px;
	background: #cacaca url(img/admin-option/i-dr-dwn-1.png) no-repeat center;
}

.sel-wr select {
	position: relative;
	z-index: 2;
	background: transparent;
	border: none;
	color: #333;
	font-size: 11px;
	line-height: 22px;
	height: 100%;
	width: 113%;
	font-weight: 600;
	padding: 0 7px 0;
	margin: 0;
	outline: none;
}

.sel-wr option {
	padding: 4px;
	line-height: 20px;
	height: 20px;
}

.blocks-positions {
	background: #f2f2f2;
	border: 2px solid #cacaca;
	border-width: 6px 2px 6px 2px;
	border-radius: 3px;
	text-align: center;
	color: #999999;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 27px;
	font-weight: 400;
}

.blocks-positions header {
	min-height: 24px;
	background: #cacaca url(img/admin-option/i-h-b.png) no-repeat center top;
	background-size: 97% auto;
}

.blocks-positions >div:not(:last-child) {
	border-bottom: 1px solid #cacaca;
}

.settingsform .row {
	margin: 0;
}

.settingsform div[class*="span"] {
	margin: 0;
}

.settingsform input[type="text"], 
input[type="url"] {
	width: 110px;
	display: inline-block;
	box-sizing: border-box;
	color: #888888;
	font-size: 10px;
	line-height: 25px;
	font-weight: 600;
	padding: 0 3px 0 5px;
	background: #f2f2f2;
	border: 1px solid #d2d2d2;
	border-radius: 0;
	margin: 0;
	height: 26px;
}

.inputs-row, 
.settingsform .inputs-row {
	margin: 0 0 8px;
}

.inputs-row input:not([value=""]), 
.inputs-row input:focus {
	background: #FFFFFF;
}

.inputs-row h4 {
	padding: 2px 7px 0 0;
}

.inputs-row .form-shortname {
	line-height: 16px;
	font-size: 9px;
}

.span5.plimage1 { 
	float:none; 
	display:inline-block!important;
}

.btn-5 {
	margin: 4px 0 0 12px;
}

.inputs-subrow {
	display: inline-block;
	margin: 0 11px 0 0;
	float: left;
}

.inputs-subrow .iconpicker {
	max-width: 218px;
}

.inputs-subrow h4 {
	float: none;
	display: block;
}

.inputs-subrow:first-child:not(:last-child) {
	float: left;
	margin: 0 11px 0 0;
}

.inputs-subrow + .inputs-subrow .btn-5 {
	margin: 31px 0 0 3px;
}

div[class*="span"] + div[class*="span"] .btn-5 {
	margin: 31px 0 0 3px;
}

.slider-settings {
	margin: -9px 0 0;
	position: relative;
}

.slider-settings-header {
	padding: 0 0 0 140px;
}

.slider-settings-header a:not(.add-btn) {
	background: #e9e9e9;
	border: 1px solid #f6f6f6;
	border-bottom: none;
	border-radius: 3px;
	display: inline-block;
	color: #999999;
	font-size: 10px;
	line-height: 18px;
	font-weight: 600;
	padding: 9px 19px 7px;
	margin: 0 1px -1px;
	position: relative;
	z-index: 2;
}

.slider-settings-header a:not(.add-btn).active {
	color: #3a3a3a;
	background: #fafafa;
}

.slider-settings-body {
	background: #fafafa;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	min-height: 234px;
	box-sizing: border-box;
	padding: 8px 10px 15px 40px;
}

.slider-settings-item {
	position: relative;
}

.delete-btn {
	color: #999999;
	font-size: 10px;
	line-height: 18px;
	font-weight: 600;
	display: inline-block;
}

.delete-btn img {
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.add-btn {
	color: #999999;
	font-size: 10px;
	line-height: 18px;
	font-weight: 600;
	display: inline-block;
}

.add-btn img {
	vertical-align: middle;
	vertical-align: sub;
	margin: 0 5px 0 0;
}

.slider-settings-item .delete-btn {
	float: right;
}

.slider-settings-item .clearfix {
	clear: both;
}

.slider-settings-item h4 {
	display: block;
	float: none;
	padding: 0 0 5px;
}

.add-logos-wr {
	float: right;
	margin: 0 49px 0 0;
}

.add-logos-item {
	width: 60px;
	height: 60px;
	margin: 0 0 0 6px;
	display: inline-block;
	box-sizing: border-box;
	background: #e9e9e9;
	border: 1px solid #c6c6c6;
	position: relative;
	text-align: center;
	vertical-align: middle;
	color: #a1a1a1;
	font-size: 9px;
	line-height: 14px;
	font-weight: 800;
	text-transform: uppercase;
}

.add-logos-item a {
	position: absolute;
	right: -3px;
	top: -3px;
	display: inline-block;
	height: 10px;
	width: 10px;
}

.add-logos-item a img {
	display: block;
}

.add-logos-item span {
	line-height: 60px;
}

.form-item p {
	color: #333332;
	font-size: 9px;
	line-height: 13px;
	font-weight: 600;
	max-width: 680px;
	padding: 0 0 10px;
}

.form-item p a {
	color: #0590c6;
	text-decoration: underline;
}

div[class*="span"] + div[class*="span"] .btn-5 {
	margin: 3px 0 0 3px;
}

.small-setting {
	font-size:70%; 
	font-weight:normal;
}

/* 8 - END of admin-option page ---------------------------------------------------------- */

/* * - BEGIN of @media ------------------------------------------------------------------- */

@media screen and (min-width: 1200px) {
	#block-region-side-post {
		width: 246px;
	}
	
	#block-region-side-pre {
		width: 250px;
	}
	
	#region-main {
		box-sizing: border-box;
		padding: 41px 33px 0;
		margin: 0 -35px 0 0;
	}
	
	.login-page #region-main {
		width: 100%;
		padding: 0;
		margin: 0;
		border: none;
	}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 1220px) {
	.about-items {
		margin: 30px 0 0;
	}
	
	.about-item {
		margin: 0 3px 15px;
		width: 230px;
	}
	
	.top-slide-content {
		padding: 12.3% 0 0;
	}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 1199px) {
	.about-item {
		margin: 0 3px 15px;
		width: 220px;
	}
	
	#block-region-side-post .block {
		padding: 0 0 36px;
	}
	
	.adminsearchform input[type="text"] {
		width: 166px;
	}
	
	.block .header h2 {
		font-size: 16px;
		line-height: 21px;
	}
	
	#region-main {
		padding: 41px 20px 0;
	}
	
	.login-page #region-main {
		width: 100%;
		padding: 0;
		margin: 0;
		border: none;
	}
	
	.settingsform .form-item {
		padding: 15px 10px 16px 10px;
	}
	
	.settingsform input[type="text"] {
		width: 110px;
	}
	
	.inputs-row .form-shortname {
		line-height: 8px;
		max-width: 100px;
	}
	
	.form-item .span3, 
	#adminsettings .form-item .span3 {
		width: auto;
		margin: 0 11px 0 0;
	}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 979px) {
	.navbar {
		float: none;
	}
	
	.about-item {
		margin: 0 3px 15px;
		width: 260px;
		height: 330px;
	}
	
	.top-slide-content h1 {
		font-size: 38px;
		line-height: 50px;
		font-weight: 100;
		text-transform: uppercase;
		color: #FFFFFF;
		padding: 6px 0 30px;
	}
	
	.top-slide-content h2 {
		font-size: 24px;
	}
	
	.categories-item {
		position: relative;
		float: left;
		text-align: left;
		width: 50%;
	}
	
	.partners img {
		margin: 0 2px 0;
	}
	
	.header-b-2:before, 
	.header-b-2:after, 
	.header-b:before, 
	.header-b:after {
		content: "";
	}
	
	.header-b-2:before {
		left: -10px;
		top: -14px;
	}
	
	.header-b-2:after {
		right: -10px;
		bottom: -14px;
	}
	
	.logo {
		margin: 0 0 0 15px;
	}
	
	.header-form form {
		float: none;
		text-align: center;
	}
	
	.top-slide-content .btn-1 {
		margin: 10px auto 0;
	}
	
	.top-slide-content h1 {
		font-size: 20px;
		line-height: 22px;
		font-weight: 100;
		text-transform: uppercase;
		color: #FFFFFF;
		padding: 2px 0 2px;
	}
	
	.top-slide-content {
		padding: 55px 0 0;
	}
	
	.top-slide-content h2 {
		font-size: 14px;
	}
	
	.top-slide-content h3 {
		font-size: 11px;
	}
	
	.h-large {
		font-size: 35px;
		line-height: 37px;
	}
	
	.contact-item {
		margin: 38px 4px 0;
	}
	
	.partners {
		height: auto;
		padding: 29px 0 10px;
	}
	
	.partners img {
		margin: 0 2px 20px;
	}
	
	.upcoming-courses {
		padding: 80px 0 92px;
	}
	
	.upcoming-courses .header-b-2 {
		margin: 0 44px 75px;
	}
	
	.feedback-item-text {
		background: #FFFFFF;
		padding: 15px 15px 15px;
		box-sizing: border-box;
		height: auto;
		margin: 0 0 34px;
		position: relative;
	}
	
	.btn-2 {
		margin: 4px 0 0 6px;
	}
	
	.av-course-item-cont {
		background: #e84c3d url(img/i-book.png) no-repeat 96.6% center;
		background-size: 29px auto;
		font-size: 11px;
		line-height: 15px;
		padding: 8px 8px 8px;
	}
	
	.av-course-item-cont h2 a, 
	.av-course-item-cont h2 {
		font-size: 14px;
	}
	
	.header-3 .av-courses h3 {
		margin: 30px 44px 7px;
	}
	
	.header-3 header .bx-wrapper {
		padding: 55px 0 0;
	}
	
	.header-2 header .bx-wrapper {
		margin: 0 auto;
		padding: 120px 0 0;
	}
	
	.header-2 .nav {
		background: rgba(0,0,0,.7);
		margin: 11px 0 0;
	}
	
	.header-2 .nav-collapse .nav > li > a:hover, 
	.header-2 .nav-collapse .nav > li > a:focus, 
	.header-2 .nav-collapse .dropdown-menu a:hover, 
	.header-2 .nav-collapse .dropdown-menu a:focus {
		background: rgba(0,0,0,.7);
	}
	
	.header-2 .main-menu {
		background: rgba(0,0,0,.8);
	}
	
	.header-2 .header-form {
		background: #000000;
		background: rgba(0,0,0,.7);
	}
	
	.about-items {
		max-width: 550px;
	}
	
	.adminsearchform input[type="text"] {
		width: 116px;
	}
	
	#page-header {
		padding-top: 65px;
		min-height: 64px;
	}
	
	.navbar .btn-navbar {
		margin-top: 8px;
	}
	
	.block_action a {
		display: inline-block;
	}
	
	.block .header .block_action img {
		margin: 0;
		display: inline-block;
		width: 14px;
	}
	
	.block .header h2 {
		font-size: 13px;
		font-weight: 800;
		letter-spacing: -.5px;
	}
	
	.block .block_tree li, 
	.unlist, 
	.unlist li, 
	.inline-list, 
	.inline-list li, 
	.block .list li, 
	.section li.activity, 
	.section li.movehere, 
	.tabtree li {
		padding: 0 0 10px;
		margin: 0;
		list-style: none;
	}
	
	.box-link {
		font-size: 11px;
		font-weight: 600;
		line-height: 16px;
		letter-spacing: -.8px;
	}
	
	.form-item.clearfix.blocks-positions-wr > div {
		width: auto;
		margin: 0 auto 20px;
		min-width: 90%;
	}
	
	.form-item .upload-img-text input[type="text"] {
		width: 140px;
		min-width: 100px;
		max-width: 60%;
	}
	
	.slider-settings-body {
		padding: 5px;
	}
	
	.settingsform .form-item {
		padding: 10px 10px;
	}
	
	.settingsform input[type="text"] {
		width: 88px;
	}
	
	.inputs-row .form-shortname {
		line-height: 8px;
		max-width: 86px;
		font-size: 8px;
	}
	
	.inputs-subrow {
		margin: 0 7px 0 0;
	}
	
	.inputs-subrow:first-child:not(:last-child) {
		margin: 0 7px 0 0;
	}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
	.block .header h2:after {
		content: none;
	}
	
	.logo-inner {
		padding: 11px 31px 5px 20px;
	}
	
	#region-main {
		border: none;
		padding: 41px 15px 0;
	}
	
	.block {
		clear: both;
		padding: 0 15px 0;
	}
	
	.block .header .block_action {
		float: right;
	}
	
	#block-region-side-post .block {
		padding: 0 15px 10px;
	}
	
	.adminsearchform input[type="text"] {
		width: 70%;
	}
	
	.adminsearchform input[type="submit"] {
		float: none;
	}
	
	.login-information {
		font-size: 16px;
		line-height: 35px;
		text-align: center;
	}
	
	.login-information .right {
		text-align: center;
	}
	
	.block .header h2 {
		font-size: 15px;
		font-weight: 800;
		letter-spacing: 0;
	}
	
	.rate {
		float: right;
		margin: 0 5px 0 0;
	}
	
	.feedback-item-user {
		height: 90px;
	}
	
	.bx-wrapper .bx-controls-direction a {
		top: 100%;
	}
	
	#region-main.adminsettings-block {
		width: 100%;
		padding: 0 5px 0;
	}
	
	.inputs-row h4 {
		padding: 2px 0 0 0;
		width: 100px;
		float: none;
		display: block;
	}
	
	.inputs-row {
		display: block;
		float: none;
	}
	
	.inputs-subrow, 
	.inputs-subrow:first-child:not(:last-child) {
		display: block;
		float: none;
	}
	
	.settingsform input[type="text"] {
		width: 50%;
	}
	
	.add-logos-wr {
		float: none;
		margin: 0 0 5px;
	}
	
	.slider-settings {
		margin: 0;
	}
	.slider-settings-header {
		padding: 0;
	}
	
	.upload-img-text {
		display: block;
		float: none;
		clear: both;
	}
	
	fieldset + .form-buttons .form-submit.btn-3, 
	fieldset .form-buttons .form-submit.btn-3 {
		float: none;
		max-width: 80%;
		width: 230px;
	}
	
	.settingsform fieldset {
		margin: 23px 0 20px;
		padding: 16px 0 0;
	}
	
	.admin-option .adminsearchform input[type="text"] {
		float: left;
		margin: 10px 10px 0 0;
		width: 60%;
	}
	
	.adminsearchform input[type="submit"] {
		line-height: 26px;
	}
	
	.slider-settings-item .delete-btn {
		margin: 10px 10px 0 0;
	}
	
	#adminsettings {
		padding: 45px 0 0 0;
	}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 650px) {
	.categories-item {
		width: 50%;
	}
	
	.upcoming-courses img {
		float: none;
		margin: 0 auto 22px;
		display: block;
	}
	
	.container {
		padding: 0 6px;
	}
	
	.header-form {
		background: #000000;
		background: rgba(0,0,0,.4);
		position: relative;
	}
	
	.header-form form input[type="text"] {
		margin: 0 auto 10px;
		display: block;
	}
	
	.contact-item {
		width: 140px;
		font-size: 12px;
	}
	
	.btn-1 {
		line-height: 30px;
	}
	
	.header-form form input[type="submit"], 
	.header-form form button {
		width: 218px;
	}
	
	.categories-item-cont {
		font-size: 10px;
		line-height: 13px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		padding: 4px;
		opacity: 1;
	}
	
	.categories-item-cont a {
		font-size: 12px;
		line-height: 19px;
	}
	
	.av-course-item-cont {
		background: #e84c3d url(img/i-book.png) no-repeat 96.6% center;
		bottom: 10px;
		left: 10px;
		right: 10px;
		opacity: 1;
	}
	
	.feedback-item-text {
		height: auto;
	}
	
	.header-2 .main-menu {
		top: 137px;
	}
	
	.header-2 header .bx-wrapper {
		padding: 65px 0 0;
	}
	
	.header-2 .fixed-header {
		top: 0;
	}
	
	.header-2 .nav {
		background: rgba(0,0,0,.7);
		margin: 5px 0 0;
	}
	
	.about-item {
		margin: 0 3px 15px;
		width: 253px;
	}
	
	header .bx-wrapper .bx-pager, 
	header .bx-wrapper .bx-controls-auto {
		bottom: 5px;
	}
	
	.btn-3 {
		margin: 0 0 0 0;
		padding: 0 3px;
		font-size: 10px;
		line-height: 30px;
	}
	
	.settingsform h2 {
		font-size: 17px;
		line-height: 30px;
		letter-spacing: -.5px;
	}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 550px) {
	.partners {
		padding: 29px 0 26px;
		height: auto;
	}
	
	.top-slide-content {
		padding: 2px 0 0;
	}
	
	header .bx-wrapper .bx-pager, 
	header .bx-wrapper .bx-controls-auto {
		bottom: 0;
		padding-top: 0;
	}
	
	.header-form form input[type="submit"], 
	.header-form form button {
		width: 94%;
	}
	
	.header-form form input[type="text"] {
		width: 94%;
	}
	
	.partners img {
		margin: 0 auto 20px;
		display: block;
	}
	
	.about-item {
		float: none;
		margin: 0 auto 15px;
		width: 270px;
	}
	
	.loginbox .loginform .form-input input {
		width: 150px;
		margin: 0 0 5px;
	}
	
	.loginbox input[type="submit"] {
		margin: 0;
	}
	
	.rememberpass input {
		float: left;
		margin: 13px 2px 0 0;
	}
	
	.forgetpass {
		width: 100%;
		float: none;
		text-align: center;
	}
	
	.loginbox .loginpanel .desc {
		width: 100%;
		float: none;
		text-align: center;
	}
	
	.guestform {
		clear: both;
		padding: 12px 0 0;
	}
	
	.loginbox {
		font-size: 12px;
	}
	
	.loginbox a {
		font-size: 12px;
	}
	
	.stay-connected .header-b-2 {
		font-size: 25px;
		margin: 0 25px;
	}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 400px) {
	.top-slide-content h3 {
		font-size: 10px;
		line-height: 10px;
		margin: 12px 44px 0;
	}
	
	.top-slide-content h1 {
		font-size: 18px;
		line-height: 16px;
		font-weight: 100;
		text-transform: uppercase;
		color: #FFFFFF;
		padding: 0;
	}
	
	.top-slide-content h2 {
		font-size: 12px;
		line-height: 22px;
	}
	
	.categories-item {
		width: 100%;
	}
}

/* ----------------------------------------------------------------------------------- */

/* * - END of @media ----------------------------------------------------------------- */
