/**
 * Front page logo
 */
#logo {
    float: left;
}
.sitelogo {
    margin: 10px 0 0 0;
}
.pagelayout-frontpage #page-header {
    padding-top: 6px;
}

/**
 * Front page header
 */
.pagelayout-frontpage #page-header #header-envelope {
    background-color: #fff;
    background-image:url([[pix:theme|hgradient-pageheader]]);
    background-repeat: repeat-x;

    -moz-border-radius-topleft: 40px;
    -moz-border-radius-topright: 40px;
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.pagelayout-frontpage .headermenu .logininfo {
    margin-right: 20px;
    color: #fff;
}
.pagelayout-frontpage .headermenu .logininfo a {
    color: #bbb;
}
.pagelayout-frontpage .headermenu .logininfo a:hover {
    color: #fff;
}