/* Custom CSS
-------------------------*/
/******************* Dualcube change *********************/
h1,
h2 {
  font-family: [[setting:headingfont]] !important; 
}
h1,
h2,
h3,
h4,
h5,
h6,

p,
input[type="text"], 
input[type="url"],
textarea,
input[type="submit"],
input.srch-fld,
select, input[type="file"],
html{
    font-family:  [[setting:bodyfont]] !important; 
    font-style: normal;
    font-weight: 400;
}
body {
    min-height: 700px;
    max-width: 2600px;
    margin: 0 auto !important;
    /*font-weight: normal;*/
    background-color: yellowgreen; /* changes */
    font-family:  [[setting:bodyfont]] !important; 
    font-style: normal;
    font-weight: 400;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
[[setting:fontfilesheading]]
[[setting:fontfilesbody]]

div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}
.alert-info {
	background-color: #f5f5dc !important;
}

/* Custom CSS Settings
-------------------------*/
/* [[setting:customcss]] */
